body {
    background-color: linen;
}
element[name] , attribute[name]{
	  margin-left: .5em;
	  padding: .5em;
	  display: block;
    background-color: rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

h1 {
    color: maroon;
    margin-left: 40px;
}

font-size: 12px;

#schema{
    height: 100vh;
}
textarea
{
    font-family: monospace;
}
element, attribute {
    display: block;
}

zeroormore element:first-child { display: none; }




.titlerow {
    background-color:#333;
    color:white;
}

.entrycol textarea {
    background-color:white;
    color:#666;
    height:100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0rem;
}
.formcol {
    background-color:linen;
}
.resultcol {
    background-color:#ddd;
    overflow-y:scroll;
    height:100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0rem;
}
.col-4 {
    margin:0px !important;
    padding:0px !important;
}
h5{
    margin: 0 auto;
    margin-left:.6em;
}
button {
    text-align:center;
    margin: 1em auto;
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}
